.rightBorder{
    border-right: 1px #EEEEEE solid;
}

.noPadding{
    padding: 0 !important;
}

.shadow{
    -moz-box-shadow: 0 0 15px darkslategray;
    -webkit-box-shadow: 0 0 15px darkslategray;
    box-shadow: 0 0 15px darkslategray;
}
body{
    font-family: 'Open Sans', serif;
}
